CalcuApp/xml-resources/web-service-references/CalcuWebService/wsdl/c0sm0s_8080/CalcuAPI/CalcuWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cws.com/" name="CalcuWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cws.com/" schemaLocation="http://c0sm0s:8080/CalcuAPI/CalcuWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="sub">
<part name="parameters" element="tns:sub"/>
</message>
<message name="subResponse">
<part name="parameters" element="tns:subResponse"/>
</message>
<message name="mul">
<part name="parameters" element="tns:mul"/>
</message>
<message name="mulResponse">
<part name="parameters" element="tns:mulResponse"/>
</message>
<message name="div">
<part name="parameters" element="tns:div"/>
</message>
<message name="divResponse">
<part name="parameters" element="tns:divResponse"/>
</message>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<portType name="CalcuWebService">
<operation name="sub">
<input wsam:Action="http://cws.com/CalcuWebService/subRequest" message="tns:sub"/>
<output wsam:Action="http://cws.com/CalcuWebService/subResponse" message="tns:subResponse"/>
</operation>
<operation name="mul">
<input wsam:Action="http://cws.com/CalcuWebService/mulRequest" message="tns:mul"/>
<output wsam:Action="http://cws.com/CalcuWebService/mulResponse" message="tns:mulResponse"/>
</operation>
<operation name="div">
<input wsam:Action="http://cws.com/CalcuWebService/divRequest" message="tns:div"/>
<output wsam:Action="http://cws.com/CalcuWebService/divResponse" message="tns:divResponse"/>
</operation>
<operation name="add">
<input wsam:Action="http://cws.com/CalcuWebService/addRequest" message="tns:add"/>
<output wsam:Action="http://cws.com/CalcuWebService/addResponse" message="tns:addResponse"/>
</operation>
</portType>
<binding name="CalcuWebServicePortBinding" type="tns:CalcuWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sub">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mul">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="div">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalcuWebService">
<port name="CalcuWebServicePort" binding="tns:CalcuWebServicePortBinding">
<soap:address location="http://c0sm0s:8080/CalcuAPI/CalcuWebService"/>
</port>
</service>
</definitions>